* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  width: 100%;
  background: white;
}
.offer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: rgb(190, 190, 190);
  letter-spacing: 2px;
  padding: 2px 0px;
  width: 100%;
  user-select: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  width: 100%;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  box-shadow: 1px 1px 10px rgb(182, 182, 182);
  background: rgba(255, 255, 255, 0.815);
  z-index: 1;
  user-select: none;
}
.nav.sticky {
  position: fixed;
  transition: 0.5s ease-in-out;
  background: rgba(255, 255, 255, 0.952);
}
.nav h1 {
  color: rgb(133, 133, 133);
  font-size: 34px;
  margin-left: 1.2em;
  text-shadow: 1px 1px 4px rgb(161, 161, 161);
}
.nav h1 span {
  color: rgb(71, 71, 71);
}
.list {
  margin-right: 1em;
}
.list-items {
  width: 100%;
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
  margin: 0px 35px;
  font-size: 18px;
  text-shadow: 0.5px 0.5px 2px rgba(180, 180, 180, 0.685);
}
.list :hover {
  color: rgb(44, 44, 44);
  border-bottom: 2px solid rgba(0, 0, 0, 0.616);
  text-shadow: 0.5px 0.5px 2px rgba(53, 53, 53, 0.493);
}
.banner {
  width: 100%;
}
.banner-img img {
  height: 34em;
  width: 100%;
}
.product-img {
  width: 100%;
  padding-top: 1em;
  background: white;
}
.product-img img {
  width: 100%;
  background-image: url("public/8.jpg");
  background-size: cover;
}
.images-1 img {
  height: 8cm;
  margin: 30px 40px;
  border-radius: 20px;
  padding: 0px 4em;
  width: 40%;
}
.img-1 {
  display: flex;
  border-bottom: 1px solid rgb(173, 173, 173);
  margin-top: 3em;
  width: 100%;
}
.des-1 {
  padding: 2em 4em 2em 2em;
  font-size: 22px;
  letter-spacing: 2px;
  width: 60%;
}
.des-2 {
  padding: 2em 2em 2em 4em;
  font-size: 22px;
  letter-spacing: 2px;
}
.des-1 h1,
.des-2 h1 {
  margin-bottom: 10px;
}
.img-2 {
  display: flex;
  flex-direction: row-reverse;
}
.images-2 {
  width: 100%;
  padding: 30px;
}
.images-2 .images-2-g-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.images-2 .images-2-g-1 div {
  width: 50%;
  margin: 10px;
}
.images-2 img {
  height: 10cm;
}
.image-lg {
  padding-top: 1em;
}
.image-lg img {
  height: 10cm;
  width: 100%;
}
.footer {
  background-color: rgb(163, 163, 163);
  margin-top: 10em;
}
.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0px 2px 0px;
  background: rgb(145, 145, 145);
  position: relative;
  user-select: none;
}
.to-top a {
  text-decoration: none;
  color: rgb(68, 68, 68);
}
.to-top span {
  position: absolute;
  font-size: 1.2em;
  top: -3px;
  right: 50%;
}
.massage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 100%;
  font-size: 1em;
  color: rgb(122, 122, 122);
  background: transparent;
}
.massage h1 {
  border-bottom: 1px solid rgb(122, 122, 122);
  padding-bottom: 5px;
}

@media screen and (max-width: 820px) {
  .offer-info {
    font-size: 12px;
  }
  .nav {
    position: relative;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 40px;
    top: -18px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(248, 248, 248, 0.781);
  }
  .list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 40px;
  }
  .images-2 .images-2-g-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .images-2 .images-2-g-1 div {
    width: 100%;
    margin: 10px 0px;
  }
  .images-2 img {
    height: 6cm;
  }
  .img-1 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(173, 173, 173);
    margin-top: 3em;
    width: 100%;
  }
  .img-2 {
    display: flex;
    flex-direction: column;
  }
  .images-1 {
    width: 100%;
    padding: 30px;
  }
  .images-1 img {
    height: 8cm;
    margin: 0px;
    border-radius: 20px;
    padding: 0px 8em;
    width: 100%;
  }
  .des-1 {
    padding: 20px 30px;
    margin: 10px 0px 50px 0px;
    font-size: 22px;
    letter-spacing: 2px;
    width: 100%;
  }
  .des-2 {
    padding: 20px 30px;
    margin: 10px 0px 50px 0px;
    font-size: 22px;
    letter-spacing: 2px;
    width: 100%;
  }
  .des-1 h1,
  .des-2 h1 {
    margin-bottom: 10px;
  }
}
