* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  width: 100%;
  background: white;
}
.offer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: rgb(190, 190, 190);
  letter-spacing: 2px;
  padding: 2px 0px;
  width: 100%;
  user-select: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  width: 100%;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  box-shadow: 1px 1px 10px rgb(182, 182, 182);
  background: whitesmoke;
  z-index: 1;
  user-select: none;
}
.nav.sticky {
  position: fixed;
  transition: 0.5s ease-in-out;
  background-color: whitesmoke;
}
.nav h1 {
  color: rgb(128, 128, 128);
  font-size: 34px;
  margin-left: 1.2em;
  text-shadow: 2px 2px 2px rgb(177, 177, 177);
}
.nav h1 span {
  color: rgb(54, 54, 54);
}
.list {
  margin-right: 1em;
}
.list-items {
  width: 100%;
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
  margin: 0px 35px;
  font-size: 18px;
  text-shadow: 0.5px 0.5px 2px rgba(180, 180, 180, 0.685);
}
.list :hover {
  color: rgb(44, 44, 44);
  border-bottom: 2px solid rgba(0, 0, 0, 0.616);
  text-shadow: 0.5px 0.5px 2px rgba(53, 53, 53, 0.493);
}
.menu-btn {
  display: none;
}
.banner {
  width: 100%;
}
#banner-lg {
  height: 15cm;
  width: 100%;
}
#banner-sm {
  display: none;
}
.product-img {
  width: 100%;
  padding-top: 1em;
  background: white;
}
.product-img img {
  width: 100%;
  border-radius: 20px;
  background: rgb(126, 126, 126);
}
.images-1 img {
  height: 8cm;
  margin: 30px 40px;
  border-radius: 20px;
  padding: 0px 3em;
  width: 34%;
}
.img-1 {
  display: flex;
  border: 1px solid rgb(173, 173, 173);
  margin-top: 3em;
  width: 100%;
}
.des-1 {
  padding: 2em 4em 2em 2em;
  font-size: 22px;
  letter-spacing: 2px;
  width: 60%;
}
.des-2 {
  padding: 2em 2em 2em 4em;
  font-size: 22px;
  letter-spacing: 2px;
  width: 60%;
}
.des-1 h1,
.des-2 h1 {
  margin-bottom: 10px;
}
.img-2 {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid rgb(173, 173, 173);
}
.images-2 {
  width: 100%;
  padding: 30px;
}
.images-2 .images-2-g-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.images-2 .images-2-g-1 div {
  width: 50%;
  margin: 10px;
}
.images-2 img {
  height: 10cm;
}
.image-lg {
  padding-top: 1em;
}
.image-lg img {
  height: 10cm;
  width: 100%;
}
.footer {
  background-color: rgb(223, 222, 222);
}
.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
  padding: 10px 0px 2px 0px;
  background-color: rgb(190, 190, 190);
  position: relative;
  user-select: none;
}
.to-top a {
  text-decoration: none;
  color: black;
}
.to-top span {
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 50%;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.social-icons a img {
  width: 35px;
  margin: 0px 30px;
}
.footer-disc {
  display: grid;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
}
.footer-disc p {
  font-size: 14px;
  margin: 5px 0px;
  letter-spacing: 0.5px;
}
#p1 {
  padding-left: 3em;
}
.buy-link {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 4em 0px;
  margin: 10px 0px 20px 0px;
  user-select: none;
}
.buy-link h2 {
  font-size: 4em;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px rgb(177, 177, 177);
}
.buy-link button {
  font-size: 1.6em;
  padding: 5px 0px;
  border-radius: 10px;
  margin: 50px 70px 20px 70px;
  box-shadow: 2px 2px 4px rgb(177, 177, 177);
  cursor: pointer;
}
.buy-link a {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  text-decoration: none;
}
.buy-link button:hover {
  background: rgb(202, 202, 202);
}

@media screen and (max-width: 760px) {
  .offer-info {
    font-size: 10px;
    font-weight: bold;
  }
  .nav {
    position: relative;
  }
  .nav h1 {
    margin-left: 10px;
  }
  #banner-lg {
    display: none;
  }
  #banner-sm {
    display: flex;
    height: 10.2cm;
    width: 100%;
  }
  .list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3.5em;
    z-index: 0;
    width: 100%;
    margin: 0px 0px 50px 0px;
    background: rgb(226, 226, 226);
    user-select: none;
    touch-action: none;
  }
  .list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    padding-bottom: 0px;
    user-select: none;
  }
  .list :hover {
    border-bottom: 0;
    text-decoration: underline;
  }
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    margin-right: 10px;
  }
  #hamb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hamb div {
    width: 2em;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin: 2.5px;
  }
  #cross p {
    display: none;
    font-size: 1.8em;
    padding-left: 11px;
  }
  .images-2 {
    padding: 0px 10px;
  }
  .images-2 .images-2-g-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .images-2 .images-2-g-1 div {
    width: 100%;
    margin: 0px;
  }
  .images-2 img {
    height: 6cm;
  }
  .img-1 {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 3em;
    width: 100%;
  }
  .img-2 {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 0.5px solid black;
  }
  .image-lg {
    padding-top: 1.5px;
    border-bottom: 0.5px solid black;
    padding-bottom: 2em;
  }
  .images-1 {
    width: 100%;
    padding: 10px 25px;
  }
  .images-1 img {
    height: 5cm;
    margin: 0px;
    border-radius: 10px;
    padding: 0px 1.5em;
    width: 100%;
  }
  .des-1 {
    padding: 20px 20px;
    margin: 10px 0px 50px 0px;
    font-size: 14px;
    letter-spacing: 2px;
    width: 100%;
  }
  .des-2 {
    padding: 20px 20px;
    margin: 10px 0px 50px 0px;
    font-size: 14px;
    letter-spacing: 2px;
    width: 100%;
  }
  .des-1 h1,
  .des-2 h1 {
    font-size: 1.5em;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
  }
  .buy-link button {
    font-size: 1.2em;
    padding: 6px 0px;
  }
  .buy-link h2 {
    font-size: 2.2em;
  }
  .social-icons {
    margin: 20px 0px;
  }
  .social-icons a img {
    width: 35px;
    margin: 0px 20px;
  }
  .footer-disc p {
    font-size: 12px;
    margin: 4px 0px;
  }
}
